@use "./partials/paleta";
@use "./partials/contacto";
@use "./partials/portfolio";
@use "./partials/que_hacemos";
@use "./partials/quienes_somos";
@use "./partials/reconocimientos";

/* -----------------------------General Resets--------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
}
p{
    margin-bottom: 0px;
}
ol, ul {
    padding-left: 0rem;
}
/* ----------------------------- reusable definitions--------------------------------------*/
.align_end{
    text-align: end;
}
.align_center{
    text-align: center;
}

/* -----------------------------Footer y conoce_mas section-------------------------------------*/
.conoce_mas{
    text-align: center;
    font-size: 2rem;
    background-color: paleta.$color_light_grey;
    padding-top:0rem;
    height: 20rem;
    align-items: center;
        p{
            color: paleta.$color_black;
            padding-top: 4.5rem;
            padding-bottom: 2.5rem;
        }
        button{
            border-radius: 1rem;
            height: 3.5rem;
            width: 10rem;
            margin-bottom: 2rem;
            background-color: paleta.$color_dark_grey;
            color: paleta.$color_white;
            font-size: 1.5rem;
        }
}

.grow{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
        &:hover{
            transform: scale3d(1.5, 1.5, 0.3);
                -webkit-transform: scale3d(1.5, 1.5, 0.3);
                -moz-transform: scale3d(1.5, 1.5, 0.3);
        }
}

footer{
    background-color: paleta.$color_black;
    text-align: center;
    width: 100%;
    color: paleta.$color_white;
}
.parent_container_sitemap{
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(2, 0) 1fr;
    grid-template-rows: 0.3fr repeat(4, 0);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: paleta.$color_black;
    text-transform: uppercase;
    color: paleta.$color_white;
    text-align: center;
        h2{
            font-size: 25px;
            padding-bottom: 10px;
        }
        a{
            text-decoration: none;
            color: paleta.$color_white;
            &:hover{
                color: paleta.$color_grey;
            }
            li{
                padding-top: 20px;
            } 
        }
        

        .sitemap_li_div { 
            grid-area: 1 / 1 / 2 / 2;
            list-style-type:none;
            padding-top: 25px;
        }
        .sitemap_li_div_1 { 
            grid-area: 1 / 2 / 2 / 3;
            list-style-type:none;
            padding-top: 25px;
        }
        .sitemap_li_div_2 { 
            grid-area: 1 / 5 / 2 / 6; 
            list-style-type:none;
            padding-top: 25px;
        }
        .input_suscribe-css{
            border: 0;
            background-color: paleta.$color_white;
            height: 40px;
            width: 230px;
        }
        button{
            
            padding-left: 5px;
            padding-right: 5px;
            text-transform: capitalize;
            line-height: 20px;
            
        }
        .button_newsletter-css {
            color: rgba(255, 255, 255, 0.9) ;
            font-size: 18px;
            font-weight: 490;
            padding: 0.5em 1.2em;
            background: paleta.$color_dark_grey;
            border: 2px solid;
            border-color: paleta.$color_grey;
            position: relative;
            &:hover{
                    color: paleta.$color_white ;
                    box-shadow: 0 4px 16px paleta.$color_dark_grey ;
                    transition: all 0.2s ease;                
            }
        }
        .logo_social_media-css{
            width: 30px;
            margin-left: 20px;
        }
        
}
.social_div{
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -20px;
}

@media (max-width: 600px){
    .parent_container_sitemap{
        display: flex;
        flex-direction: column;
        
    }
    button{
        margin-top: 10px;
    }

    .sitemap_li_div_2{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        p{
            text-align: center;
        }
    }

    .input_suscribe-css{
        margin: 1rem;
        align-items: center;
    }

    .logo_social_media-css{
        margin-left: 20px;
    }
    
}

@media(max-width:1043px){
    .input_suscribe-css{
        margin-bottom: 10px;
    }
}

.sticky{
    position: sticky;
    top: 0;
}
.map{
    width: 100%;
}
/* -------------------------NAVBAR------------------------- */
.nav_style_css{
    background-color:paleta.$color_grey;
    font-size: 1.3rem;
}
.navbar_without-line{
    --bs-navbar-padding-y: 0px;
}
.navbar_brand-size{
    width: 50px;
}
.white{
    color: paleta.$color_white;
}
.navbar_title-size{
    font-size: 1.7rem;
    margin-bottom: 0;
}
@media(max-width:990px){
    .navbar_title-size{
        font-size: 1.2rem;
    }
    .nav_style_css{
        font-size: 1rem;

    }
}
@media(min-width:990px){
    .navbar_title-size{
        font-size: 1.2em;
    }
    .nav_style_css{
        font-size: 0.9rem;
    }
}
@media(min-width:1100px){
    .nav_style_css{
        font-size: 1rem;
    }
}
@media(min-width:1200px){
    .nav_style_css{
    font-size: 1.1rem;
    }
}


/* -------------------------MAIN_INDEX------------------------- */

.header_banner-css{
    width: 100%;
}
.container_size_css{
    width: 100%;
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0rem;
}

.main_div_img{
    width: 100%;
}
.index_p_css{
    font-size: 1.5rem;
    padding: 1rem;
}

.main_row_div_odd-color{
    background-color:paleta.$color_dark_grey;
    text-align: center;
    align-items: center;
    padding: 10px;
}
.main_row_div_pair-color{
    background-color: paleta.$color_white;
    align-items: center;
}
@media (max-width: 767px){
    .reverse{
        display: flex;
        flex-direction: column-reverse;
    }
    .index_mobile-imgsize{
        max-width: 100vw;
    }
    
}

.main_row_div_font_odd-css{
    color: paleta.$color_white;
    text-align: center;
    padding-top: 2rem;
}
.main_row_div_pair_font-css{
    padding-top: 2rem;
    text-align: center;
    color: paleta.$color_black;
}





