@use "./paleta";

@media (max-width: 767px){
    .portfolio-sizemaxmin{
    min-width: 300px;
    max-width: 500px;
    }
}
    
.margins-padding-css{
    margin-bottom: 2rem;
}
h2{
    margin-bottom: 1rem;
}

.banner-portfolio{
    margin-bottom: 1rem;
}